/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        tp: tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_PREFERRED";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        basic_type {
            // -----------------------------------------------------------------------------------------
            // | TAB  |  Q  |  W  |  E  |  R  |    T    |   |  Y  |  U   |  I  |  O  |  P  | ESC |
            // | CTRL |  A  |  S  |  D  |  F  |    G    |   |  H  |  J   |  K  |  L  |  ;  |  LWR/'   |
            // | SHFT |  Z  |  X  |  C  |  V  |    B    |   |  N  |  M   |  ,  |  .  |  /  | SHFT |
            //                    | GUI | LWR | ALT/ENT |   | HYPER/SPC | BKSP  | RSE |

            bindings = <
&kp ESCAPE  &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y       &kp U  &kp I             &kp O    &kp P     &kp BACKSPACE
&kp TAB     &kp A  &kp S  &kp D     &kp F  &kp G        &kp H       &kp J  &kp K             &kp L    &kp SEMI  &kp SINGLE_QUOTE
&kp LSHFT   &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N       &kp M  &kp COMMA         &kp DOT  &kp FSLH  &kp RSHFT
                          &kp LGUI  &mo 1  &kp SPACE    &kp RETURN  &mo 2  &kp LEFT_CONTROL
            >;
        };

        navigation_and_F {
            // -----------------------------------------------------------------------------------------
            // |       |  F1  |  F2  |  F3  |  F4  |  F5 |            |  F6  |  F7  |  F8  |  F9  |  F10  |   |
            // |       | Prev | Next | Vol - | Vol + | Play/Pause |   |      | LFT | DWN |  UP | RGT |     |     |
            // | BTCLR | BT1 | BT2 | BT3 | BT4 | BT5 |   |            |     |     |     |     |     |     |
            //                    |     |     |    |                  |     |     |     |

            bindings = <
&trans   &trans  &trans        &trans         &trans       &trans    &kp F6          &kp F7    &kp F8    &kp F9     &kp F10       &trans
&kp TAB  &trans  &kp LCTRL     &kp END        &kp HOME     &trans    &trans          &kp LEFT  &kp UP    &kp RIGHT  &kp LCTRL     &trans
&trans   &trans  &kp LEFT_ALT  &kp PAGE_DOWN  &kp PAGE_UP  &trans    &trans          &trans    &kp DOWN  &trans     &kp LEFT_ALT  &trans
                               &kp LEFT_GUI   &mo 1        &trans    &kp LEFT_SHIFT  &trans    &trans
            >;
        };

        symbols {
            bindings = <
&trans  &kp EXCL  &kp AT_SIGN  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans    &trans       &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans    &trans       &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                               &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
